/*Colors*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
/* RESETS Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* RESETS Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* RESETS Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* RESETS Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* RESETS Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Barlow Condensed", sans-serif;
  overflow-x: hidden;
}

/* RESETS A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* RESETS Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* RESETS Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* RESETS Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
nav {
  display: flex;
  position: relative;
  padding-left: 55px;
  justify-content: space-between;
}
nav #logo {
  display: grid;
  place-items: center;
}

.hamburger {
  display: grid;
  place-items: center;
}
.hamburger:hover {
  cursor: pointer;
}

.menu {
  font: 1rem "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  position: relative;
  width: 65%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  padding: 1.8rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.menu::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 40%;
  opacity: 0.25;
  left: -37%;
  background: #FFF;
}
.menu a {
  position: relative;
  text-decoration: none;
  color: white;
}
.menu a::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -28px;
  background: #FFF;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.menu a:hover::before {
  opacity: 0.5;
}

.NavbarMenu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 70%;
  height: 100vh;
  background: rgba(61, 61, 66, 0.4);
  backdrop-filter: blur(4rem);
  z-index: 2;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.close-btn {
  background: none;
  border: none;
  position: absolute;
  top: 7%;
  right: 13%;
  color: #D0D6F9;
  transform: scale(1.1);
  z-index: 4;
  cursor: pointer;
}

.NavbarMenu ul {
  position: relative;
  z-index: 3;
  height: 100%;
  padding: 7rem 0px 0px 2rem;
  list-style: none;
}

.NavbarMenu li {
  margin: 2rem 0px;
}

.NavbarMenu a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  color: #D0D6F9;
  font: 1.3rem "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
}

.NavbarMenu a:hover {
  border-right: 3px solid #FFF;
}

.NavbarMenu span {
  color: #FFF;
}

.slide-out {
  transform: translateX(100%);
}

.slide-in {
  transform: translateX(0%);
}

@media (max-width: 43.0625em) {
  nav {
    padding: 15px;
  }
}
@media (min-width: 43.125em) and (max-width: 63.9375em) {
  .menu::before {
    display: none;
  }
}
@media (min-width: 64em) {
  nav {
    top: 40px;
  }
}
#nav-active {
  position: relative;
}
#nav-active::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -28px;
  background: #FFF;
  opacity: 1;
}
#nav-active:hover::before {
  opacity: 0.5;
}

@media (max-width: 43.0625em) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 43.125em) and (max-width: 63.9375em) {
  .hide-tablet {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-desktop {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin: auto 10rem;
  position: relative;
  flex: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
  color: #FFF;
}
main div {
  flex: 1;
}

.content h5 {
  font: 1.75rem "Barlow Condensed", sans-serif;
  color: #D0D6F9;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
}
.content h1 {
  font: 9.4rem "Bellefair", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.content p {
  font: 0.88rem "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  line-height: 2;
  margin: 1rem 0;
  color: #D0D6F9;
  text-align: center;
}

.cont-disc {
  padding-top: 1rem;
  position: relative;
  text-align: right;
}
.cont-disc button {
  width: 12.5rem;
  height: 12.5rem;
  border: none;
  border-radius: 7.25rem;
  box-shadow: 0 0 3rem 3rem rgba(255, 255, 255, 0);
  transition: box-shadow 300ms ease-in-out;
}
.cont-disc button h4 {
  font: 2rem "Bellefair", sans-serif;
  text-transform: uppercase;
  color: #0B0D17;
}
.cont-disc button:hover {
  cursor: pointer;
  box-shadow: 0 0 3rem 3rem rgba(255, 255, 255, 0.3);
}

@media (max-width: 43.0625em) {
  body {
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 1.5rem;
  }
  .content h5 {
    font-size: 1.3rem;
    letter-spacing: 2.2px;
  }
  .content h1 {
    font-size: 5.5rem;
  }
  .content p {
    letter-spacing: 2.4px;
  }
  .cont-disc button {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
  }
  .cont-disc button h4 {
    font-size: 1.7rem;
  }
}
@media (min-width: 43.125em) and (max-width: 63.9375em) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 2rem;
  }
}
@media (min-width: 64em) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    top: 40px;
  }
}/*# sourceMappingURL=index.css.map */